@page "/employees/add"
@using Codium.Interview.EmployeeEvidenceApp.Client.Components
@using Codium.Interview.EmployeeEvidenceApp.Client.Components.Employee


<h2>Add Employee</h2>
<AddEmployeeForm/>


