@page "/positions/add"
@using Codium.Interview.EmployeeEvidenceApp.Client.Components
@using Codium.Interview.EmployeeEvidenceApp.Client.Components.Position

<PageTitle>Add Position</PageTitle>

<h2>Add Position</h2>
<AddPositionForm />



